# Google Apps Script Webhook URL (Secret Key / Deployment URL)
# Google Apps Script'dan olingan Web app URL manzili (masalan: https://script.google.com/macros/s/.../exec)
VITE_GOOGLE_SHEETS_WEBHOOK=

# Portal sozlamalari (Ixtiyoriy)
VITE_EXAM_TITLE=GRE Imtihoni
VITE_SUPPORT_PHONE=+998 (99) 627-99-99

# Admin panel kirish ma'lumotlari
# Forma 1-bosqichida ISM = VITE_ADMIN_USER, FAMILIYA = VITE_ADMIN_PASS kiritilganda Admin panelga yo'naltiriladi
VITE_ADMIN_USER=admin
VITE_ADMIN_PASS=0807
